*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: hsl(210, 46%, 95%);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  font-size: .812rem;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card{
  max-width: 90%;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
.header-image-container{
  height: 220px;
}
.header-image{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.main-content{
  padding: 2.2rem;
}
h1{
  font-size: 1rem;
  padding-bottom: 10px;
}
.bottom-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2.2rem 1.5rem 2.2rem ;
}
.pfp-container{
  width: 50px;
}
.pfp-image{
  border-radius: 50px;
}
.dark-color-txt{
  color: hsl(217, 19%, 35%);
  font-weight: 700;

}
.desat-color-txt{
  color: hsl(214, 17%, 51%);
}
.user-info{
  margin-right: 30px;
}
.svg-container{
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
  border-radius: 30px;
}